<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/cssindepth.css">
    <title>Css in Depth</title>
</head>
<body>
    <div class="container">
        <div class="monkey"><h2>Monkey</h2></div>
        <div class="swan"><h2>Swan</h2></div>
        <div class="eagle"><h2>Eagle</h2></div>
        <div class="bear"><h2>Bear</h2></div>
        <div class="bird"><h2>Bird</h2></div>
        <div class="elephant"><h2>Elephant</h2></div>
        <div class="owl"><h2>Owl</h2></div>
    </div>
    
</body>
</html>