<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Puro</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>

<div class="main">
    <header class="header">
        <h1 class="page-header">COLÉGIO ISMA GONGA - CEPISMA</h1>
    </header>
    <nav class="nav">
        <a href="#" class="nav-item">Principal</a>
        <a href="#" class="nav-item">Aluno</a>
        <a href="#" class="nav-item">Matricula</a>
        <a href="#" class="nav-item">Programa</a>
        <a href="#" class="nav-item">Actividade</a>
    </nav>
    <aside class="aside h-center v-center">
        <h2>ASIDE</h2>
    </aside>
    <section class="section h-center v-center">
        <h2 class="">SECTION</h2>
    </section>
    <footer class="footer h-center v-center"><h2>FOOTER </h2></footer>


</div>

</body>
</html>