<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/cssimages.css">
    <title>Document</title>
</head>
<body>
    <div class="portfolio">
        <figure class="featured">
            <img src="image/monkey.png" alt="monkey"/>
            <figcaption>Monkey</figcaption>
        </figure>
        <figure>
            <img src="image/eagle.png" alt="eagle"/>
            <figcaption>Eagle</figcaption>
        </figure>
        <figure class="featured">
            <img src="image/bird.png" alt="bird"/>
            <figcaption>Bird</figcaption>
        </figure>
        <figure>
            <img src="image/bear.png" alt="bear"/>
            <figcaption>Bear</figcaption>
        </figure>
        <figure class="featured">
            <img src="image/swan.png" alt="swan"/>
            <figcaption>Swan</figcaption>
        </figure>
        <figure>
            <img src="image/elephant.png" alt="elephant"/>
            <figcaption>Elephant</figcaption>
        </figure>
        <figure>
            <img src="image/owl.png" alt="owl"/>
            <figcaption>Owl</figcaption>
        </figure>
    </div>
</body>
</html>