<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/layout-wecamp.css">
    <title>Document</title>
</head>
<body>
    
    <div class="site">
        <header class="header">
            <h1 class="header-text">Your Second place to be...</h1>
        </header>
        <div class="logo"><img id="logo" src="image/logo.jpg"></div>
        
        <div class="main">
                <div class="content">
                    <h2 class="content-title">About the Openning</h2>
                    <p class="page-text">
                        It was a lovely day for a walk in the park.
                        The birds were singing and the kids were all back at school.  
                        <span>With the</span> Monsters   
                    </p>
                </div>
            <div class="content">
                <h2 class="content-title">About Schedule</h2>
                <p class="page-text">
                    It was a lovely day for a walk in the park.
                    The birds were singing and the kids were all back at school.    
                </p>
            </div>
            <div class="content">
                <h2 class="content-title">About the Services</h2>
                <p class="page-text">
                    It was a lovely day for a walk in the park.
                    The birds were singing and the kids were all back at school.    
                </p>
            </div>
            <div class="content">
                <h2 class="content-title">About the us...</h2>
                <p class="page-text">
                    It was a lovely day for a walk in the park.
                    The birds were singing and the kids were all back at school.    
                </p>
            </div>
        </div>
        
        <aside class="aside">
                <div class="haircut">
                        <a href="#"><h3 class="haircut-title">French Haircut</h3>
                    <span id="haircut">French makes you seem like an original Frenchman</span></a>
                </div>
                <div class="haircut">
                    <h3 class="haircut-title">Scovine Haircut</h3>
                    <span id="haircut">Scovine makes you seem like an original Escovine-Frenchman</span>
                </div>
                <div class="haircut">
                    <h3 class="haircut-title">Afro Haircut</h3>
                    <span id="haircut">Afro makes you seem like an original Afro-Frenchman</span>
                </div>
            </aside>
            <footer class="footer">
                <p class="enterprise">Jercorp Inc. — A Web Development Enterprise</p>
                <p class="location">Rua Direita da Samba, Travessa do Quim Ribeiro, 
                    junto ao Salão de Festas Kaydep </p> — 
                    <span>All Rights Reserved ©</span>
                    <p class="contact">Contacts: +244 992 720 666 | 
                        E-mail: jerameel16@gmail.com</p>
            </footer>
        
    </div>
    
    
</body>
</html>